.container {
    margin: 1em;
}

body {
    font-family: sans-serif;
}

/* Navigation */

.flexNav {
    display: flex;
    justify-content: right;
}

.itemMenu {
    border: 1px solid #0000FF;
    border-radius: 3px;
    margin-right: 0.3em;
    width: 7em;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #0000FF;
}

/* First Section with logo */

.flexHead {
    display: flex;
    align-items: center;
}

.logo {
    width: 10em;
    height: auto;
}

/* Second Section */

.pinkBox {
    color: black;
    background-color: #EDD3E5;
    padding: 0.1em;
    font-size: .9rem;
    font-weight: 200;
}

.bigText {
    font-size: 1.25rem;
}

/*Services section*/

.smallTitle {
    background-color: #EDD3E5;
    font-size: 1rem;
    font-weight: 100;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: -.8em;
    width: 8em;
}

.whiteBox {
    font-weight: 200;
}

/* Softwares section */

.paragraphLogiciel {
    margin-bottom: 0.3em;
}

.flexLogiciels {
    display: flex;
}

.flexLogiciels ul {
    padding-left: 0.3em;
    background-color: #EDD3E5;
    margin: 0 0.2em 0 0;
}

.flexLogiciels li {
    list-style-type: none;
    font-weight: 200;
}
.secondItem {
    padding-right: 0.6em;
}

.lastItem {
    padding-right: 0.8em;
}
